  <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/"><h3>HOME</h3> </a>
          <div class="nav-collapse collapse">
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span9">
          <div class="hero-unit">
            <h1 align="center">POST 3</h1>
            <p><b>Inheritance is when a 'class' derives from an existing 'class'.So if you have a Person class, then you have a Student class that extends Person, Student inherits all the things that Person has.There are some details around the access modifiers you put on the fields/methods in Person, but that's the basic idea.For example, if you have a private field on Person, Student won't see it because its private, and private fields are not visible to subclasses.Polymorphism deals with how the program decides which methods it should use, depending on what type of thing it has.If you have a Person, which has a read method, and you have a Student which extends Person, which has its own implementation of read, which method gets called is determined for you by the runtime, depending if you have a Person or a Student.It gets a bit tricky, but if you do something likePerson p = new Student();p.read();the read method on Student gets called.Thats the polymorphism in action.You can do that assignment because a Student is a Person, but the runtime is smart enough to know that the actual type of p is Student.Note that details differ among languages.You can do inheritance in javascript for example, but its completely different than the way it works in Java.</b></p>
          </div>
                 <div class="row-fluid">
            <div class="span4">
              <h2>Recommendation 1</h2>
              <p><%- post_1 %>
</p>
            </div><!--/span-->
            <div class="span4">
              <h2>Recommendation 2</h2>
              <p><%- post_2 %>

</p>

            </div><!--/span-->
            <div class="span4">
              <h2>Recommendation 3</h2>
              <p><%- post_3 %></p>

            </div><!--/span-->
          </div><!--/row-->
          <div class="row-fluid">
            <div class="span4">
              <h2>Recommendation 4</h2>
              <p><%- post_4 %></p>

            </div><!--/span-->
            <div class="span4">
              <h2>Recommendation 5</h2>
              <p><%- post_5 %></p>

            </div><!--/span-->
            <div class="span4">
              <h2>Recommendation 6</h2>
              <p><%- post_6 %></p>

            </div><!--/span-->
            <div class="span4">
              <h2>Recommendation 7</h2>
              <p><%- post_7 %>
</p>

            </div><!--/span-->
            <div class="span4">
              <h2>Recommendation 8</h2>
              <p><%- post_8 %></p>

                  </div><!--/span-->
            <div class="span4">
              <h2>Recommendation 9</h2>
              <p><%- post_9 %></p>

            </div><!--/span-->
            <div class="span4">
              <h2>Recommendation 10</h2>
              <p> <%- post_10 %></p>

            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>
<footer class="footer">
        <p>Contact: Agalya Loganathan - 1209352296</p>
      </footer>


    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>

  </body>
</html>
